<!DOCTYPE html>
<html ng-app="elPactoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>El Pacto Back-end</title>
    <link href="angularjs/bootstrap.css" rel="stylesheet">
    <link href="angularjs/bootstrap-theme.css" rel="stylesheet">
    <script src="angularjs/angular.js"></script>
    <script>

        var model = {
            user: "Pacto Admin"
        };

        var elPactoApp = angular.module("elPactoApp", []);

        elPactoApp.run(function ($http) {
                $http.get("http://localhost/thepacting/pactows/pactorpcserver.php?action=getPlayersList").success(function (data) {
                console.log(data);
                model.players = data;
            });
        });

        elPactoApp.filter("checkedPlayers", function () {
            return function (players, showExisting) {
                var resultsArr = [];
                angular.forEach(players, function (player) {
                    if (player.exist == false || showExisting == true) {
                        resultsArr.push(player);
                    }
                });
                return resultsArr;
            }
        });

        elPactoApp.controller("ElPactoCtrl", function ($scope, $http) {
            $scope.elPacto = model;

            $scope.existCount = function () {
                var count = 0;
                angular.forEach($scope.elPacto.players, function (item) {
                    count++;
                });
                return count;
            }

            $scope.warningLevel = function() {
                return $scope.existCount() > 3 ? "label-success" : "label-warning";
            }

            $scope.addNewPlayer = function (newPlayerName, newPlayerPassword) {
                console.log("function ("+newPlayerName+", "+newPlayerPassword+")");
                $http.get("http://localhost/thepacting/pactows/pactorpcserver.php?action=createPlayer&playerName="+newPlayerName+"&playerPassword="+newPlayerPassword).success(function (data) {
                    console.log(data);
                    $http.get("http://localhost/thepacting/pactows/pactorpcserver.php?action=getPlayersList").success(function (data) {
                        console.log(data);
                        $scope.elPacto.players = data;
                    });
                });
            }
        });

    </script>
</head>
<body ng-controller="ElPactoCtrl">
    <div class="page-header">
        <h1>El Pacto Back-end</h1>
        <h2>
            {{elPacto.user}}'s Player List
            <span class="label label-default" ng-class="warningLevel()"
                  ng-hide="existCount() == 0">
                {{existCount()}}
            </span>
        </h2>
    </div>
    <div class="panel">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Player's id</th>
                    <th>Player's name</th>
                    <th>Player's password</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in elPacto.players">
                    <td>{{player.playerId}}</td>
                    <td>{{player.playerName}}</td>
                    <td>{{player.playerPassword}}</td>
                </tr>
                <tr>
                    <td>Id#</td>
                    <td><input class="form-control" ng-model="newPlayerName"/></td>
                    <td><input class="form-control" ng-model="newPlayerPassword"/></td>
                </tr>

            </tbody>
        </table>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success btn-block"
                        ng-click="addNewPlayer(newPlayerName, newPlayerPassword)">Add Player</button>
            </span>
        </div>

    </div>
</body>
</html>